.ListPage{
    display: flex;
    flex-direction: column;
}
.ListPage--button{
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.ListPage--item{
    font-size: 1.4rem;
    border: none;
    padding: .5em;
    border-radius: .3em;
    background-color: rgba(255, 255, 255, 0.6);
    transition: background-color 0.3s ease;

}
.ListPage--list{
    padding: 0;
    margin: 0;
}
