html{
    font-size: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    width: 100%;
    
    background-image: url('../images/bg.png');
}

.main-header {
    display: flex;
    flex-direction: row;

    background-color: rgba(228, 128, 14, 0.425);
    width: 100%;
}

.main-header--title{
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}
.main-header--nav{
    display: flex;
    justify-content: center;
    align-items: stretch;

    flex: 1;
}
.main-header--nav--link{
    display: flex;
    align-items: center;

    padding-right: 5rem;
    color: black;

}